  nav {
background: #ffffff !important;
background-color: white;

}


.top-bar-section ul{
background: #ffffff !important;
background-color: white;
}


nav li a{
background: #ffffff !important;
color: black !important;
background-color: white;
}

 .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px white;
      border-left: solid 1px white;
      clear: none;
      height: 45px;
      width: 0px; }



#logo {
  background: url(/img/logo-word-159x59.png) no-repeat;
  width: 159px;
  height: 59px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  padding-bottom: 0px;

}

#logo-tagline .tagline{
  position: relative;
  right: -40px;
  top: -20px;
}

.button.success.radius {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: black;
}
